.list-group .list-group-flush{
	border-radius: 0px;
}

.info-card h1{
	font-size: 5rem;
	text-align: center;
	line-height: 30vh;
}

.list-group-item{
	text-align: center;
	height: 50vh;
	background-image: url("../images/background.jpg");
	min-height: 30vh;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.card{
	border-radius: 0px;
}

.info-title{
	text-align: center;
	width: 100%;
	color: white;
}

.list-group-item p{
	width: 100%;
	color: white; 
	text-align: center;
	font-size: 1.5rem;
}