#content{
	margin-left: 25%;
	/*outline: 1px solid black;*/
	padding-top: 9vh;
}

.studentSelectionContainer{
	/*border: 1px solid #666;*/
	/*outline: 1px solid black;*/
	border-radius: 3px;
	width: 90%;
	height: 70vh;
	margin-left: 5%;
	margin-top: 10vh;
	margin-bottom: 10vh;
	background-color: #eee;

	display: none;

}

.studentNameContainer{
	/*outline: 1px solid black;*/
	margin-top: 3vh;
	height: 7vh;
	width: 15vw;
	background-color: #eee;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.mainContentContainer{
	/*outline: 1px solid black;*/
	/*position: fixed;*/
	/*width: 70%;*/
	background-attachment: fixed;
}

.studentNameContainer p{
	line-height: 7vh;
	text-align: center;
	/*outline: 1px solid black;*/
}
.studentProfileContainer{
	/*outline: 1px solid black;*/
	height: 300vh;
	/*border: 1px solid #333;*/
	border-radius: 3px;
	background-color: #eee;
	border-top-left-radius: 0px;
	display: flex;
}

.mainContent{
	/*outline: 1px solid black;*/
	width: 70%;
	height: 100vh;
	background-color: #eee;
}

.mainContent .yearTitle{
	margin-left: 1.75vw;
	margin-top: -1vh;
	color: #666;
}

.mainContent .progress{
	/*outline: 1px solid black;*/
	width: 80%;
	background-color: #FFF;
	margin-left: 10%;
}

.mainContent .progressContainer{
	/*outline: 1px solid black;*/
	padding: 1vh 1vw;
	margin-bottom: 3vh;
}

.mainContent .subjectTitle{
	/*outline: 1px solid black;*/
	margin-top: 5vh;
	text-align: center;
}

.mainContent .subjectTitle a{
	/*outline: 1px solid black;*/
	width: 80%;
}

.mainContent .subjectCollapseContainer{
	margin-left: 1vw;
	margin-right: 1vw;
}

.mainContent .progressContainer .progressTitle{
	/*outline: 1px solid black;*/
	text-align: center;
}

.sideContent{
	/*outline: 1px solid red;*/
	width: 30%;
	height: 100vh;
}

.sideContent .profilePictureContainer{
	/*outline: 1px solid black;*/
	height: 40%;
}

.sideContent .profilePictureContainer img{
	/*outline: 1px solid black;*/
	width: 100%;
	height: 100%;
	padding-left: 4vw;
	padding-right: 4vw;
}

.sideContent .detailContainer{
	outline: 1px solid black;
	height: 100%;
	width: 100%;
}

.sideContent .detailContainer .detailTitle{
	text-align: center;
}

#studentListSelect{
	margin-left: 25%;
	margin-top: 30vh;
	width: 50%;
	height: 10vh;
	text-align: center;
	border: 1px solid #333;
	border-radius: 5px;
	background-color: #333;
	color: white;
	transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
}
#studentListSelect option{
	background-color: #333;
	color: white;
	padding: 10px 12px;
	text-align: center;
}